#
# boilerplate for vim, sourced from:
# https://github.com/github/gitignore/blob/main/Global/Vim.gitignore
#
*~
[._]*.swp
[._]swp
Session.vim
Sessionx.vim
.netrwhist
tags
[._]*.un~

# b4
/.b4.lock

# ignore temporary test data
/tests/tmp/*.[0-9]*
/tests/tmp/*.bin
/tests/root/*.[0-9]*
/tests/root/*.bin

# executable
/dist/tftpcpc*
/dist/tftpcpd*
/tftpcpc
/tftpcpd

# database and test database
/*.db

# don't track darwin headers
/MacOSX_SDK
